/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
*/
.success .hidden_pic{
	display:none;
}




/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

.logo h1 {
    margin-top: 8px;
}
nav .menu li {
    padding: 25px 0px;
}
nav .menu li {
    font-size:22px;
}

.container_full{
	width:100%;
}
.container{
	width:98%;
}
.slider_down_area .slider_down_area_single_column{
width: 100%;
}	


.slider_down_area .slider_down_area_single_column h3{
text-align:center;
	display:block;
	font-weight:bold;
	font-size:30px;
}



.slider_down_area .slider_down_area_single_column img{
width: 40%;
height:auto;
float:none;
display:block;
overflow:hidden;
margin:0 auto;
}
.slider_down_area .slider_down_area_single_column p {
    margin-bottom: 0;
    font-family: SolaimanLipi;
    color: #7d26bf;
    font-size: 15px;
	float:none;
	text-align:center;
	font-size:25px;
}
.slider_down_area .slider_down_area_single_column a{
	font-family: 'Galada', cursive;
	font-size:15px;
	color:red;
	float:none;
	text-align:center;
	display:block;
	overflow:hidden;
	font-size:30px;
	margin-bottom: 35px;
text-decoration: underline;
}


	.success img{
		width:453px;
		height:250px;
		margin-bottom:15px;
	}
	.success .hidden_pic{
	display:inline;
	margin-left: 10px;
}
.teasers .slider_down_area_single_column img{
	width:300px;
	height:250px;
}
.teasers .slider_down_area_single_column{
	width:304px;
}	
.teasers .slider_down_area_single_column p {
    font-size: 40px;
}	
.teasers .slider_down_area_single_column a {
    font-size: 30px;

}
.footer_top_area p {
    font-size: 17px;
}	
.footer_top_area .footer_top_area_single_column1 {
    width: 310px;
    margin-right: 15px;
    float: right;
}
.footer_top_area .footer_top_area_single_column1 p {
    margin-bottom: 10px;
    font-size: 17px;
}
.footer_top_area .footer_top_area_single_column2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.footer_top_area .footer_top_area_single_column2 input {
    width: 80%;
	height:50px;
	text-align: center;
    margin: 0 auto 5px;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 5px;
        margin-left: auto;
}
.footer_top_area .footer_top_area_single_column2 button {
    width: 140px;
    height: 50px;
}
.footer_top_area .footer_top_area_single_column2 .text_box {
    height: 200px;
}





}


/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
		
	.container_full{
	width:100%;
}
.container{
	width:99%;
}
	
	.success img{
		width:204px;
		margin-bottom:15px;
		margin-right:15px !important;
	}
	.success .hidden_pic{
	display:inline;
}
.teasers .slider_down_area_single_column{
	width:138px;
}	
.teasers .slider_down_area_single_column p {
    font-size: 19px;
}	
.teasers .slider_down_area_single_column a {
    font-size: 14px;

}	

	
	
	
	
	
	
}










/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
.container_full{
	width:100%;
}
.container{
	width:90%;
}
	.slider-wrapper{
		display:none;
	}
	
.slider_down_area .slider_down_area_single_column{
width: 100%;
}
	.slider_down_area_single_column img {
		width:100px;
		height:100px;
	}
	
.teasers .slider_down_area_single_column{
	width:132px;
}	
.teasers .slider_down_area_single_column p {
    font-size: 18px;
}	
.teasers .slider_down_area_single_column a {
    font-size: 13px;

}

	.success .hidden_pic{
	display:inline;
}	
	.slider_top p{
	font-size:15px;
}
.slider_top{
	padding: 31px 0 0 0;
}	
.picture_galary img{
	width:96%;
}	


.footer_top_area{
	width:97%;
}

.footer_top_area_single_column{
	margin:0 auto;
	display:block;
	overflow:hidden;
}
.footer_top_area_single_column1{
	margin-left:10px;
}
.footer_top_area_single_column2{
	margin-left:10px
}
.footer_top_area .footer_top_area_single_column{
	width:250px;
	margin-right:1px;
}

.footer_top_area .footer_top_area_single_column1{
	width:100%;
	margin-right:15px;
}
.footer_top_area .footer_top_area_single_column2{
	width:100%;
}
.footer_top_area .footer_top_area_single_column2 input {
    width: 93%;
}



	
	
}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	

	
	
	
	
	
	
	
	
	
	
	
	
	
}